<div class="container">
  <div class="row edit-article">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <br> <h1 class="center-text">Edit Article</h1> <br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= render 'form' %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <small>[ <%= link_to 'Back to article list', articles_path %> | <%= link_to 'Back to this article page', article_path(@article) %> ]</small>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>