<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2>Article Index Page</h2>
      <%= link_to 'Create new article', new_article_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
  <br>

  <div class="row">
    <%= render 'article', articles: @articles %>
    <div class="col-md-12">
      <div class="float-right"><%#= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center pagination-sm' %></div>
    </div>
  </div>
</div>