<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Article</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p> Title: <%= @article.title %> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p> Description: <%= @article.description %> </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <small>[<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Article Page', articles_path %>]</small>
    </div>
  </div>
</div>